<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: require(C:\wamp64\www\CareEdge-africa\public/vendor/autoload.php): Failed to open stream: No such file or directory in C:\wamp64\www\CareEdge-africa\public\index.php on line <i>37</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>382232</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\CareEdge-africa\public\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-uncaught-exception' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Fatal error: Uncaught Error: Failed opening required 'C:\wamp64\www\CareEdge-africa\public/vendor/autoload.php' (include_path='.;C:\php\pear') in C:\wamp64\www\CareEdge-africa\public\index.php on line <i>37</i></th></tr>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Error: Failed opening required 'C:\wamp64\www\CareEdge-africa\public/vendor/autoload.php' (include_path='.;C:\php\pear') in C:\wamp64\www\CareEdge-africa\public\index.php on line <i>37</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0001</td><td bgcolor='#eeeeec' align='right'>382232</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\CareEdge-africa\public\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
</table></font>
