@media (min-width: 1600px) {

    .top_header ul li a {
    margin-right: 40px;
}
.top_header .right-nav li a {
    color: #FFFFFF;
    margin-right: 20px;
}
    .card.card-style-1.green .card-body p {
    font-size: 28px;
}
    .accordian-title-box {
        height: 430px;
    }
    .get-rated-sec .heading-2{
        font-size: 28px;
    }
    .accordian-style-1 .accordion-button{
            font-size: 24px;

    }
    .milestones-year-list {
        height: 780px;
    }

    .inner-banner .banner_captions .heading-1,
    .jumbotron .heading-1 {
        font-size: 72px;
    }

    .show-in-s-lap {
        display: block !important;
    }

    .secondary-menu {
        display: none;
    }

    .search-call-icon {
        margin: 0 30px 0 10px;
    }

    body {
        font-size: 100%;
    }
    .social-media-links a svg {
        width: 40px;
        height: 40px;
        margin: 2px;
    }
}

@media (max-width: 1599px) {
    /*17.03.2023 start here*/
    .faq_acc_php  .acc_srno{
        width: 22%;
    }
    .faq_acc_php .accordian-style-1.style-2 .accordion-body{
        margin-left: 22%;
    }

    .care-rating-rec{
        padding: 0;
    }

    /* .faq_acc_php .accordian-style-1.style-2 .accordion-body{
        width: 58%;  
    } */
    .investors-page .podcast-box, .investors-page .latest-commentary-box {
        height: 58vh;
    }
    .payment-sum-sec .total-amount {
        grid-template-columns: 61% 25% 14%;
    }
    .card-style-2 .heading-2 {
        font-size: 24px;
        line-height: initial;

    }

    .news-grid .heading-2 {
        font-size: 1.5em;
    }
    .social-media-links a svg {
        width: 40px;
        height: 40px;
        margin: 2px;
    }
    .word-break-all {
        word-break: initial;
    }

    /*.podcast-box, .latest-commentary-box {
    height: 55vh;
}*/

/* Insights page search bar */
.inights-searchBar .search-icon{
    left:18px;
}

/*01-02-2023*/
.webinars1_sec_php .card-style-2 .card-image{
    /* max-height: 365px; */
    min-height: 335px;
    max-height: 335px;
}
/*01-02-2023 end */

.google-map-sec-new .listings{
    height: inherit !important;
    padding-bottom: 5em;
}
}

@media (max-width:1366px){
    .search-call-icon{
        margin-right:20px;
    }
    .heading-1{
        font-size: 3.625em;
        margin-bottom: 0;
    }
    .reports-sec .report-custom-btn1{
        top: 5px;
    }
    /*06.03.2023 start*/
    .budget-sec .modal.budgetVid-popup iframe{
        height: 590px;
    }
    .banner-caption .heading-1{
        font-size: 3.5em;
        max-width: 855px;
    }

    
    /*06.03.2023 end*/
    .investors-page .podcast-box, .investors-page .latest-commentary-box {
        height: 56vh;
    }

    .vision-mission-sec .hang-boxes .card.card-style-1{
        padding: 20px;
    }

    .vision-mission-sec .hang-boxes .card.card-style-1{
        margin-right: 10px;
    }

    .vision-mission-sec .heading-3{
        font-size: 21px;
    }

    .vision-mission-sec .card.card-style-1 .card-body{
        margin: 0;
    }
    /*07-02-2023 start */
    .care-rating-rec.overview_php{
        position: relative;
        padding-top: 0;
        padding-bottom: 100px;
    }
    .care-rating-rec.overview_php .e-logo svg{
        width: 20%;
    display: block;
    height: auto;
    margin: 0 auto;
    }
    .unaccepted-list .input-find-rating{
       height:100%;
    }

    .unaccepted-list .searchBar{
       height:60px;
    }

    .unaccepted-list a.btn.btn-primary.find-rating{
        padding: 12px 50px;
    }
    .commentry_php .left-space-sldier .slick-slide {
        margin-right: 30px;
    }

    .commentry_php .card-style-2 .card-image {
        min-height: 273px;
        max-height: 273px;
    }
    .news_grid_php .content-img-box, .news_grid_php .studies_main_box {
        height: 715px !important;
    }
    .news_grid_php .latest-commentary-box, .news_grid_php .podcast-box {
        max-height: 425px;
        min-height: 425px;
    }
    .home-slider-sec-v1 .career_searchBar {
        height: 60px !important;
        margin-bottom: 20px;
    }
            
    .home-slider-sec-v1 .banner_captions {
        margin: 3% 0;
    }
    
    .home-slider-sec-v1 .inner-banner>.banner-content{
        margin:3% 0;
        padding:3% 10%;
    }
    /*07-02-2023 end*/
    #faq-tab .btn {
        font-size: 13px;
        padding: 12px 15px;
        margin: 0 5px;
    }
    ul#progressbar strong {
        font: normal normal normal 16px/44px proxima_novaregular;
    }
    .green-audio-player {
        max-width: 70% !important;
    }
    .flex-column.card-bottom-part{
        flex-direction: row !important;
    }
    .word-break-all {
        word-break: break-all;
    }
    .investors-page .podcast-box, .investors-page .latest-commentary-box {
        /* height: 67vh; */
        height: 45vh;
    }
    .this-m-help .card.card-style-1 {
        min-height: 300px;
        height: 100%;
    }
    .podcasts-sec br,.corp-gover-sec .card.card-style-1 br{
        display: none;
    }
    .podcasts-slider .podcast-box {
        position: relative;
    }
    .grid-box {
        background-color: #fff;
        /* justify-content: flex-start; */
    }
    section.podcasts-sec .podcasts-slider .plyr.plyr--full-ui.plyr--audio.plyr--html5.plyr--paused.plyr--stopped.plyr--is-touch {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .podcasts-slider .slick-list {
        padding-right: 10%;
    }
    .corp-gover-sec .card.card-style-1{
        padding: 15px;
    }
    .locations-list {
        z-index: 9;
    }
    section.about-contact-sec {
        background-position: center;
        width: 100%;
    }

    /**/
    .inights-searchBar .search-input{
        padding: 14px 40px;
    }

    .inights-searchBar .search-icon{
        left: 10px;
    }

     /**/
     .dropdown-menu.dropdown-newDegn{
        padding: 23px;
    }

    .dropdown-menu li h5{
        font-size: 20px;
    }

    /*01-02-2023*/
    .faq_acc_php .accordian-style-1.style-2 .accordion-button span:last-child{
        font-size: 25px;  
    }

    .acc_srno{
        font-size: 70px;
    }

    .news_grid_php #renderHtmlFeaturedMediaSectiondata .swiper-slide img{
        height: 715px;
    }

    .webinars1_sec_php .card-style-2 .card-image {
        /* max-height: 270px; */
        min-height: 273px;
        max-height: 273px;
    }

    /*01-02-2023 end */
} 

@media screen and (min-device-width: 991px) and (max-device-width: 1369px){
    .locations-list {
        position: inherit !important;
        width: 100% !important;
    }

    /**/
    .updates-searchBarSec .d-flex-header .col-sb-5{
        width: 50%;
    }

    .inights-searchBar a.btn.btn-primary.insights-find-rating{
        padding: 14px 40px;
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    /* .modal-dialog-centered {
        min-height: calc(100% - 31.5rem);
    } */
    .payment-sum-sec h3 {
        font: normal normal bold 35px/58px proxima_novabold;
    }
    .payment-sum-sec .total-amount {
        grid-template-columns: 61% 17% 22%;
    }
} 
@media screen and (min-device-width: 1200px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) {
    
    .e-logo~.heading-2 {

        width: 86%;
    }

    .subscribe-form>ul li {

        margin-right: 5px !important;
    }
    .latest-commentary-box {
        height: 470px;
    }
    /* .podcast-box,
    .latest-commentary-box {
        height: 370px;
    } */
    .border-bottom{
        padding: 10px;
    }
    .card-content1 {
        padding: 20px 10px;
    }
    .social-media-links a svg {
        width: 35px;
        height: 35px;
        margin: 2px;
    }
    
}

@media (max-width: 1280px) {
    /*17.03.2023 stsrt*/
    .navbar-light .navbar-nav .nav-link{
        font-size: 13px;
    }

    .banner-caption{
        height:67%;
        top:10%;
    }

    .accordian-style-1 .accordion-body p{
        font-size: 0.9em;
        margin: 0 0 10px 0;
    }
    .fee-structure-number1 li{
        font-size: 0.9em;
        line-height: 22px;
    }

    .capabilities-sec{
        padding-top:50px;
    }

    .padding-100 {
        padding: 50px 0;
    }
    .budget-sec .video-box{
        height:490px;
    }
    .news_grid_php .latest-commentary-box, .news_grid_php .podcast-box {
        max-height: 450px;
        min-height: 450px;
    }
    .sliderGap-30 .slick-slide{
        margin-right: 10px;
    }
    .arrow-link svg {
        width: 20px;
        height: 20px;
        display: block;
    }

    .heading-2 {
        font-size: 1.8em;
    }

    

    .eventGallery-modal .card-style-2 .heading-2{
        font-size: 18px;
    }
    /*06.03.2023 start*/
    .banner-caption .heading-1 {
        font-size: 3.1em;
    }

    .budget-sec .modal.budgetVid-popup .modal-dialog {
        max-width: 75%;
    }

    .budget-sec .modal.budgetVid-popup iframe {
        height: 550px;
    }
    /*06.03.2023 end*/
    .webinars1_sec_php .card-style-2 .card-image{
        /* max-height: 280px; */
        min-height: 245px;
        max-height: 245px;
    }

    span.investor-contact-address{
        font-size: 14px;
    }

    .vision-mission-sec .hang-boxes .card.card-style-1 {
        padding: 8px;
    }

    .investors-page .podcast-box, .investors-page .latest-commentary-box {
        /* height: 77vh; */
        height: 43vh;
    }

    .card.card-style-1 .card-body {
        /* min-height: 150px; */
        min-height: 222px;
    }
}

@media screen and (min-device-width: 1191px) and (max-device-width: 1280px){
    .inights-searchBar a.btn.btn-primary.insights-find-rating{
        padding: 14px 29px;
    }
}

@media screen and (min-device-width: 1022px) and (max-device-width: 1180px){
    .inights-searchBar a.btn.btn-primary.insights-find-rating{
        padding: 8px 30px;
    }

    .d-flex-header .inights-searchBar{
        height: 55px;
    }
}


@media (max-width: 1024px) {
    /*01-02-2023*/
    .news_grid_php #renderHtmlFeaturedMediaSectiondata .swiper-slide img{
        height: 100%;
    }

.left-space-sldier .slick-slide {
    margin-right: 25px;
}
.webinars1_sec_php .card-style-2 .card-image {
    /* max-height: 256px; */
    max-height: 220px;
    min-height: 220px;
}
/*01-02-2023 end*/
    #progressbar li {
        width: 95%;
        height: 50px;
    }
    .form-card {
        text-align: left;
        margin: 20px 0;
    }
    .hav-acc-div {
        display: block !important;
    }
    .hav-acc-div span {
        font: normal normal normal 22px/44px proxima_novaregular;
    }
    .hav-acc-div a {
        padding: 15px 40px;
        font-size: 18px;
    }
    #msform fieldset {
        width: 100%;
    }
    .contact-form {
        padding: 30px 0;
    }
    #progressbar {
        margin: 50px 0;
    }
    #progressbar li:after {
        content: '';
        width: 15%;
    }
    #progressbar li:after {
        content: '';
        width: 20%;
        height: 2px;
        left: 78%;
    }
    #msform .action-button, #msform .action-button-previous {
        width: 30%;
        padding: 15px;
    }
    .col-xl-12{
        flex: 0 0 auto;
        width: 100%;
    }
    .vision-mission-sec .card.card-style-1 {
        aspect-ratio: 1;
        /* height: 240px; */
        flex: auto;
    }

    .breadcrumb-item+.breadcrumb-item,
    .breadcrumb li a {
        font-size: 11px;

    }

    .get-rated-sec .card.card-style-1.green p {
        margin-bottom: 30px;
    }

    .yu2fvl-close {
        top: -35px;
        left: 96.5%;

    }

    .find-ratings {
        display: none;
    }
    .job-listing-parent-sec{
        display: flex !important;
    }
    .navbar-brand img {
        width: 130px;
    }

    .navbar-light .navbar-nav .nav-link::before {
        display: none
    }

    .jumbotron {
        height: 250px !important;

    }

    .main-slider,
    .inner-banner {

        overflow: hidden;
        height: 580px;
    }


    .secondary-menu>ul {
        right: 120px;
    }

    .subscribe-form>ul li {

        margin-bottom: 20px;
    }

    .podcast-box,
    .latest-commentary-box,
    .content-img-box {
        /* height: 450px; */
        width: 100%;
    }

    .inner-banner>.banner-content {
        top: 40px;

    }


    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }

    .get-rated-sec .card.card-style-1.green {
        margin-bottom: 50px;
    }

    .chart-info {
        padding: 10% 30px;
    }

    .content-img-box img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .grid-box {
        transform: none;
        margin: 0;

    }

    .login-cta {
        width: 160px;

    }

    .navbar .container-fluid {
        justify-content: unset;

    }

    .navbar {
        height: 80px;

    }

    .recent-ratings-list {
        display: none;
    }
    .border-bottom{
        padding: 10px;
    }
    .card-content1 {
        padding: 20px 10px;
    }
    .location-details1 {
        width: 320px;
        bottom: 28%;
        left: auto;
        right: 2%;
        display: block;
    }
.this-m-help .card.card-style-1{
	min-height:inherit;
}
}


@media (min-width: 992px) {
    
    .location-details {
        display: block;
    }
    .location-details1 {
        display: block;
    }
    /* .location-details {
        top: 23%;
        left: 13%;
    } */
    /* .google-map {
        background-size: contain !important;
    } */
    /* .location-details1 {
        bottom: 19%;
        left: 14%;
    } */
    .locations-list .scrollbar {
        padding-bottom: 150px;

    }

    .locations-list {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 25%;

    }

    .google-map {
        height: calc(100vh - 100px);
        position: relative;
        overflow: hidden;
        background-size: cover !important;
        background-position: center center !important;
    }

    /* .google-map img,
    .google-map iframe {
        height: 100%;
        object-fit: cover
    } */
    .hidden-lg{
        display: none;
    }

    .mutli-img-boxes .card {
        margin-right: 30px;
    }

    .border-right::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 100%;
        border-right: 1px solid #000000;
        opacity: 0.2;
        left: 48.5%;
        transform: translateX(-60%);
    }

    .hang-boxes {
        margin-bottom: -12%;
        padding-top: 60px;
    }


    .hang-boxes .card.card-style-1 {
        margin-right: 40px;
    }

    .white-box {
        padding: 0 10px 0 0px;
    }

    .loginCta {
        display: none;
    }

    .navbar-nav,
    .navbar-nav .nav-item,
    .navbar-nav .nav-item a {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .quick-links {
        padding: 0 3%;
    }

    .activity-list ul {

        width: 80%;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-expand-lg .navbar-collapse {

        height: 100%;
    }

    .selected-report {
        padding: 20px 20px;

    }
    .border-bottom{
        padding: 20px;
    }
    .card-content1 {
        padding: 20px 20px;
    }
    .mobile_header{
        display: none;
    }
    .yu2fvl {
        width: 95% !important;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
}

@media (max-width: 992px) {

    .select-report-box,
    .selected-report {
        width: 100%;

    }

    .select-report-box {
        margin: 0px 20px 20px 0;

    }

    .select-reports-sec {
        padding: 40px 0;
    }


    .slider-arrows {
        margin-right: 0;
    }

    .navbar-nav .dropdown-menu {
        transition: none;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {
        color: #fff;
    }

    .acc_srno {
        font-size: 60px;
        width: 60px;
    }


    .acc_srno {
        font-size: 40px;
        width: 40px;
    }


    .padding-100 {
        padding: 45px 0;
    }

    .accordian-style-1.style-2 .accordion-button span:last-child {
        font-size: 24px;
        width: 80%;
    }

    .accordian-style-1.style-2 .accordion-button {
        padding: 20px 0px;

    }

    .left-space-sldier {
        margin-top: 20px;
        padding-left: 9%;
    }

    .this-m-help .slider-arrows {

        margin-bottom: 30px;
    }

    .left-space-sldier .slick-list {
        padding-right: 40px;
    }

    .left-space-sldier .slick-slide {
        margin-right: 20px;
    }

    [class*="heading-"] br {
        display: none;
    }

    .inner-banner>.banner-content {

        width: 100%;
    }

    .accordian-style-1.style-2 .accordion-body {
        width: 100%;
        margin: auto;
    }


    .copyright-footer {
        padding: 40px 20px;
        text-align: center;
    }

    .activity-list {
        padding: 10% 40px;
    }

    .reports-sec {
        padding: 60px 0 60px;
    }

    .video-box {

        margin: 30px 0 0 0;
    }

    .yu2fvl {
        width: 95% !important;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }




    .content-area {
        bottom: 70px;
    }

    .accordian-title-box {
        display: none;
    }

    .upcoming-events {
        padding: 80px 20px 80px 20px;
    }

    .container-fluid.left-space {
        padding: 0 20px !important;
    }

    .heading-1 {
        font-size: 60px;
        line-height: 1;


    }

    .banner-caption .heading-1 {
        font-size: 40px;

    }

    .banner-caption br {
        display: none;
    }

    .login-cta {
        display: none;
    }

    .secondary-menu {
        display: none;
    }

    .hide-in-s-lap {
        display: block !important;
    }

    .navbar-collapse {
        position: absolute;
        background-color: #1c304c;
        width: 100%;
        left: 0;
        top: 56px;
        z-index: 3;
        /* padding: 30px; */
    }
    .navbar-collapse ul.navbar-nav {
        padding: 20px 20px 0 20px;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        font-size: 18px;
        margin: 5px 0;
        font-weight: 400;
        line-height: 35px;
        text-transform: capitalize;
        
    }
     li.nav-item:last-child,li.nav-item ul li{
        border-bottom: none !important;
    }
    li.nav-item{
    border-bottom: 1px solid hsl(175deg 100% 41% / 20%);
    }
    
    .navbar-nav .dropdown-menu {

        display: none;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .find-ratings {
        display: block;
        height: 150px;
        padding: 28px 0;
    }

    .top_header ul::-webkit-scrollbar {
        display: none;
    }

    .top_header ul {
        flex-wrap: nowrap;
        white-space: nowrap;
        padding-left: 20px;
        overflow-x: auto;
    }

    .top_header {
        padding: 10px 0;
    }

    .right-nav {
        display: none;
    }

    .activity-list li p {
        margin-bottom: 0;
        width: 80%;
    }
    .vision-mission-sec .hang-boxes .card.card-style-1 {
        margin: 10px;
        padding: 30px;
    }
    .milestones-year-slider .year-item h3 {
        font-size: 2.7em;
    }
    .milestones-year-list {
        height: 100%;
    }

    /**/
    .find-ratings form{
        display: block;
        position: relative;
    }

    .find-ratings .btn-white{
        margin-top: 8px;
    }

    .find-ratings.fixed{
        height: 135px;
    }

    #res3{
        height: 100vh;
        width: 100%;
        bottom: -745px;
    }

    .organization-box ul{
        height: auto;
        margin-bottom: 15px;
    }
    

}

@media (max-width: 991px) {
    .news_grid_php .content-img-box, .news_grid_php .studies_main_box{
        height:auto !important;
    }
    .updatedClass-1 .sliderGap-30 .slick-slide{
        margin-right: 20px;
        margin-left: 20px;
    }
    /*31-01-2023*/
    .budget-sec .modal.budgetVid-popup iframe{
        height: 215px;
    }
    .budget-sec .modal.budgetVid-popup .modal-dialog {
        max-width: 96%;
    }
    .eventGallery-modal .modal.eventGal-popup .modal-header .btn-close{
        font-size: 15px;
        top: 5px;
        right: 5px;
    }
    .eventGallery-modal .modal.eventGal-popup .modal-dialog {
        max-width: 88%;
        margin: 0 auto;
    }
    .eventGallery-modal .modal.eventGal-popup .eventGal_modal_text{
        padding: 10px 10px;
    }
    .eventGallery-modal .modal.eventGal-popup .eventGal_modal_text p{
        font-size: 12px;
        line-height: 14px;
    }
    .webinars1_sec_php .card-style-2 .card-image {
        /* max-height: 280px; */
        max-height: 280px;
        min-height: 280px;
    }
    button.arrow-btn {
        min-width: auto;
        position: absolute;
        top: -17px;
        right: 0;
        transform: rotate(90deg);
    }
    .desktop-hide1{
        display: none;
    }
    .desktop-show1 {
    display: block;
    padding-bottom: 10px;
}
    .btn {
        padding: 10px 0;
        min-width: 110px;
        font-size: 12px;
    }
    .sliderGap-30 .slick-slide {
        margin-right: 20px;
    }
    /*31.01.2023 end*/
    #res5 {
        height: 800px;
        width: 100%;
        right: 0;
        margin: 0 auto;
        top: 150px;
    }
    #searchres5 .searchBar.find-rate-searchbar {
    width: 100%;
    height: 51px;
    box-sizing: border-box;
    position: absolute;
    top: 70%;
    /* border: 1px solid rgb(63, 63, 63); */
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%);
}
#searchres5 .input-find-rating {
    display: block;
}
#searchres5 .searchBar .search-icon {
    top: 30%;
}
#searchres5 button.btn.btn-primary.find-rating{
    margin-top:20px;
}
    .searchbar1 input:focus {
        width: 500px;
    }
    #res {
        height: 800px;
        width: 90%;
        right: 5%;
        margin: 0 auto;
    }
    
    .login-popup h5#exampleModalToggleLabel {
        padding: 30px 15px;
    }
    .login-popup h5#exampleModalToggleLabel {
        font-size: 26px;
        line-height: 34px;
    }
    .login-popup .login-regi-form {
        padding: 0 15px 30px 15px;
    }
    .this-m-help .card.card-style-1 {
        min-height: 300px;
        height: 100%;
    }
    .nav-item.dropdown a.dropdown-toggle {
        position: relative;
    }
    .grid-box{
        padding: 30px 20px;
    }
    .plyr--audio .plyr__controls {
        padding: 30px 10px !important;
        padding: var(--plyr-control-spacing,30px 10px) !important;
    }
    .main-location-div,.location-details1::after {
        display: none;
    }
    .location-details1 {
        width: 200px;
        display: block;
        bottom: 10%;
        height: 35px;
    }
    .google-map {
        position: relative;
        /* height: 502px; */
    }
    /* .nav-item.dropdown a.nav-link::after,
    .nav-item.dropdown a.nav-link::before {
        /* content: ''; *
        width: 10px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
        border: none;
    }  */

    .navbar-nav .dropdown-menu {
        width: 100%;
        background: transparent;
    }

    header .dropdown-menu-light li a {
        padding: 10px 0;
        color: rgba(255, 255, 255, 0.7);
        border: none !important;
    }

    /* .nav-item.dropdown .dropdown-toggle:after {
        transform: translateY(-50%) rotate(90deg);
    } */

    /* .dropdown-toggle:before {
        transform: translateY(50%) rotate(180deg);
    } */



    .mobile-section {
        display: flex;
        flex: auto;
        width: 100%;
    }

    .logo-section,
    .mobile-section {
        width: 50%;
    }

    .logo-section,
    .mobile-section,
    .search-section {
        display: flex;
        align-items: center;
        height: 57px;
    }

    .logo-section {
        width: 100%;
        justify-content: flex-start;
    }

    .navbar {
        height: 57px;
    }

    .search-section {
        width: 100%;
        justify-content: flex-end;
    }

    .loginCta {
        /* margin-left: initial; */
        width: 65px;
        height: 57px;
        margin-left: 0;
    }
    .call-login-icon{
        margin-left: auto;
    }

    .search-call-icon li a {
        height: 36px;
        width: 36px;
    }
     /*Home page*/
    .mobile_header{
        display: block;
    }
    .desktop_header{
        display: none;
    }
    .mobile-top_header select,.mobile_header .sub-links>a {
        width: 100%;
        background: transparent;
        color: #00D3C3;
        border: none;
        outline: none;
        font-size: 12px;
        padding: 0 10px;
    }
    .mobile-top_header select option{
        background-color: var(--secondary_color);
        padding: 10px 15px;
    }
    .mobile_header .top_header.container-fluid.mobile-top_header {
        width: 100%;
        display: block;
        /* padding: 10px 15px; */
    }
    .mobile_header .dropdown-menu, .mobile_header ul.navbar-nav li {
        opacity: 1;
        overflow: visible;
        visibility: visible;
        transform: translateY(0);
    }
    .mobile_header .sub-links>a:before,.mobile_header .sub-links>a:after{
        background-color: transparent;
        height: 10px;
    }
    .top_header.container-fluid.font-medium.mobile-top_header li {
        padding:5px;
    }
    .mobile-top_header li{
        list-style: none;
        
    }
    .mobile-top_header li ul {
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }
    .mobile-top_header li ul li{
        margin: 0;
        padding: 10px 0 !important;
    }
    .mobile-top_header li ul li a{
        color: #00D3C3;
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    a.dropdown-toggle::after{
        content: "\f107";
        font-family: FontAwesome;
        background-image: none;
        font-size: 20px;
        right: 20px;
        top: 40% !important;
        transition: all 0.5s;
    }
    a.dropdown-toggle::after{
        width: 10px;
        height: 10px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
        border: none;
    }
    .dropdown-item:hover, .dropdown-item:focus {
        color: rgba(255, 255, 255, 0.7);
        background-color: transparent;
    }
    .extra-menu ul li a{
        color: #00D3C3 !important;
    }
    .banner-caption {
        left: 5%;
        right: 5%;
    }
    .mobile_header .sub-links>a {
        position: relative;
        border-bottom: none;
        padding-bottom: 0;
        width: 100%;
        display: block;
    }
    .dropdown-submenu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: .8em;
      }
      li .dropdown-toggle:after {
        transition: all 0.5s;
      }
      li.show > .dropdown-toggle:after {
        transform: rotate(180deg);
      }
      /* sous-Niveaux suivants */
      li li.show > .dropdown-toggle:after {
        transform: rotate(180deg);
      }
      a.nav-link.dropdown-toggle:after {
        content: "\002B";
        font-family: FontAwesome;
        font-size: 35px;
        right: 20px;
        top: 30% !important;
        transition: all 0.5s;
    }
      a.nav-link.dropdown-toggle.show:after{
           content: "\2212";
           font-family: FontAwesome;
           font-size: 35px;
        right: 20px;
        top: 30%;
        transition: all 0.5s;
      }
      .green-audio-player {
        max-width: 100% !important;
      }
      .commons-slider-3 .card {
        min-height: 470px;
    }
    .slider-arrows span {
        width: 40px;
        height: 40px;
    }
    .reports-sec .commons-slider {
        margin-left:2px;
        margin-right:2px;
    }
    /*Home page end*/
    /*About page start*/
    .vision-mission-sec .hang-boxes .card.card-style-1{
        margin: 10px;
    }
    /*About end*/
    .care-group ul{
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        padding-top: 0 !important;
    }
    .care-group ul li {
        line-height: 3;
    }

    /**/
    .inights-searchBar .search-input{
        font-size: 12px;
    }

    .nav-item.dropdown a.dropdown-toggle.insight-cat{
        color: var(--primary_color);
    }

    a.insight-cat.dropdown-toggle::after{
        display: none;
    }
    
}

@media (max-width: 768px) {
    .yu2fvl-close {
        left: 89.5%;
    }
    .searchbar1 input:focus {
        width: 220px;
    }
    #portfolio-rate {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: 0 auto;
    }
    .payment-sum-sec h3 {
        font: normal normal bold 38px/48px proxima_novabold;
    }
    .payment-sum-sec .accordion-body .acc-head h3, .payment-sum-sec .accordion-body .acc-head h4 {
        font: normal normal normal 13px/24px proxima_novaregular;
    }
    .payment-sum-sec .acc-head h3, .payment-sum-sec .acc-head h4 {
        font-size: 16px;
    }
    .payment-sum-sec button.accordion-button.acc-head {
        grid-template-columns: 40% 25% 20% 15%;
    }
    .payment-sum-sec .accordion-body .acc-head {
        grid-template-columns: 65% 20% 15%;
    }
    .payment-sum-sec .accordion-body .acc-head {
        padding: 10px;
    }
    .payment-sum-sec .accordion-header .acc-head a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .accordian-style-1 .accordion-button::after {
        width: 30px;
        height: 30px;
    }
    .form-card {
        text-align: left;
        margin: 20px 0;
    }
    .hav-acc-div {
        display: block !important;
    }
    .hav-acc-div span {
        font: normal normal normal 22px/44px proxima_novaregular;
    }
    .hav-acc-div a {
        padding: 15px 40px;
        font-size: 18px;
    }
    #progressbar strong{
        display: none;
    }
    #msform fieldset {
        width: 100%;
    }
    .contact-form {
        padding: 30px 0;
    }
    #progressbar {
        margin: 50px 0;
    }
    #progressbar li:after {
        content: '';
        width: 15%;
    }
    #progressbar li {
        width: 73%;
        height: 50px;
    }
    #progressbar li:after {
        content: '';
        width: 50%;
        height: 2px;
        left: 73%;
    }
    #msform .action-button,#msform .action-button-previous {
        width: 100%;
        padding: 15px;
    }
    .google-map {
        position: relative;
        /* height: 235px; */
    }
    .this-m-help .card.card-style-1 {
        min-height: 250px;
        height: 100%;
    }
    .location-details1 {
        bottom: 20%;
    }
    .navbar .container-fluid {
        padding-left: 12px;
        justify-content: space-between;
    }

    .search-call-icon li a {
        width: 45px;
        height: 45px;
    }

    .search-call-icon {
        padding-left: 0;
        padding-right: 10px;
    }

    .report-sec-head {
        width: 100%;
    }
    .reports-sec .report-custom-btn1{
        top: 0;
    }
    
    .eventGallery-modal.yearDropDown-main .yearToggle {
        margin-bottom: 0;
    }

    .loginCta {
        width: 65px;
        height: 57px;
        margin: 0;
    }

    .navbar {
        height: 56px !important;
    }

    .navbar-brand {
        margin: 0;
    }

    .navbar-light .navbar-toggler {
        /* margin-right: 20px; */
        margin-right: 0;
    }

    .navbar-brand img {
        width: 120px;
        margin-left: 10px;
    }

    .subscribe-form>ul li {

        display: flex;
        align-items: center;
    }

    footer {
        padding: 80px 10px 0px;
    }

    .e-logo~.heading-2 {
        width: 90%;
        font-size: 18px;
        line-height: 1.5;
    }

    .e-logo svg {
        width: 75%;
    }

    .care-rating-rec {
        padding: 50px 0;
    }

    .video-box {
        height: auto;
        /* height: 350px; */
    }

    .heading-3.text-white {
        margin: 2rem 0;
    }

    .accordian-style-1 .accordion-button {
        padding: 30px 0;
    }

    .accordian-style-1 .accordion-body {
        padding: 0 0 30px 0;
    }

    .hreports-slider a {
        width: auto;
        height: auto;
    }

    .video-box img {
        height: auto;
    }

    .heading-1 {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .heading-2 {
        font-size: 20px;
    }

    .reports-sec .commons-slider {
        margin: 30px 0;
    }

    .budget-sec {
        background: #F8F8F8;
    }

    .slider-arrows.sliders-desktop {
        display: none;
    }

    .upcoming-events .slider-arrows.sliders-mobile {
        display: flex;
        margin: 30px 0 0 0;
    }

    .upcoming-events .slider-arrows span:nth-child(1) {
        margin-left: 0;
    }

    .activity-list li p,
    .get-rated-sec .heading-2 {
        font-size: 16px;
    }

    .get-rated-sec .heading-2 {
        line-height: 24px;
    }

    hr.style-2 {
        margin: 30px 0;
    }

    .get-rated-sec .row .row:nth-child(2) {
        flex-direction: column-reverse;
    }

    .get-rated-sec .card.card-style-1.green {
        margin: 10px 0 0 0;
        width: 85%;
        padding: 15px;
    }
    .get-rated-sec .card.card-style-1.green .card-body p.heading-3{
        margin-top: 0;
    }

    .quick-links ul li a {
        width: 100%;
    }

    .capabilities-sec {
        background-image: none !important;
        padding-bottom: 5%;
    }

    .capabilities-sec.bg-grey {
        background: #fff;
        padding-top: 30px;
    }

    .capabilities-sec .accordian-style-1.mt-5 {
        margin-top: 0 !important;
    }
    .careedge-activity-list .btn {
        padding: 15px 15px;
    }
    .banner-caption {
        left: 3%;
        right: 3%;
    }
    .commons-slider-3 .card{
        min-height: 440px;
    }
    .social-media-sec .card-content1 p.heading-3 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* About Us Start */
    .para-line-height {
        font-size: 16px;
    }
    /* About Us End */
    .care-group ul{
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        padding-top: 0 !important;
    }
    .care-group ul li {
        line-height: 3;
    }

    /**/
    .inights-searchBar a.btn.btn-primary.insights-find-rating{
        padding: 5px 27px;
        font-size: 12px;
    }

    .d-flex-header .inights-searchBar{
        height: 50px;
    }

    .inights-searchBar form{
        padding-right: 0;
    }
    .quick-links.quick-links-new ul.quick-links-ul-main {
        display: initial;
    }
    .padding-100.this-m-help{
        padding-bottom: 0;
    }
    .faq_acc_php .accordian-style-1.style-2 .accordion-button span:last-child{
        font-size: 20px;
    }
    .care-edge-slider-new .heading-1, .rating-list-iner-idbi .heading-1{
        margin-bottom: 20px;
    }
    hr.style-1{
        margin: 30px 0;
    }
    .new-life div#faq-tab {
        display: inline-block;
    }
    .faq-tab-sec.padding-150 {
        padding: inherit;
    }
    .slick-dot-none .mb-5 {
        margin-bottom: 2rem !important;
    }
}
@media screen and (max-width: 1400px) and (min-width: 991px) {
.care-group ul{
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    padding-top: 0 !important;
}
.care-group ul li {
    line-height: 3;
}

}

@media screen and (min-device-width: 800px) and (max-device-width: 915px){
    .inights-searchBar a.btn.btn-primary.insights-find-rating{
        padding: 9px 20px;
        font-size: 12px;
    }

    .d-flex-header .inights-searchBar{
        height: 55px;
    }

    .inights-searchBar .search-icon{
        left: 25px;
    }
}

@media screen and (max-width: 576px){
    .inights-searchBar form{
        display: block;
    }

    .inights-searchBar .search-input{
        width: 100%;
        margin-bottom:10px;
    }

    .inights-searchBar a.btn.btn-primary.insights-find-rating{
        font-size: 12px;
        float: right;
        padding: 0 27px;
    }

    .updates-searchBarSec .d-flex-header{
        align-items: flex-start;
    }

    .updates-searchBarSec .d-flex-header{
        margin-bottom: 1rem;
    }
    .updates-sec .d-flex-header h3.mb-5{
        margin-bottom:1em !important;
    }
    .mobileChangeInner{
        flex-direction: column;
        margin-top: 1em;
    }
    .mobileChangeOuter{
        flex-direction: column-reverse;
    }
    .input-group:not(:last-child){
        margin-bottom: 0.8em;
        margin-right: 0 !important;
    }
    #renderHtmlCompanyRelatedReportsSection .card-body .text-small {
        font-size: 18px;
    }
    section.reports-sec .item .card p.heading-3{
        font-size: 18px;
    }
    .mobileSelect {
        flex-direction: column-reverse !important;
    }
    .mobileSelect.yearDropDown-main .yearToggle{
        margin-bottom: 20px;
    }
    .mobileSelect.yearDropDown-main .empInput.form-control {
        width: 100%;
    }
    .custom-dropdown1.mb-5{
        margin-bottom: 0 !important;
    }
    hr.style-2.coverageHr{
        margin: 10px 0 10px;
    }
}

@media screen and (max-width: 480px){
.login-popup h5#exampleModalToggleLabel {
    padding: 15px 15px;
}

.care-rating-rec.overview_php{
	margin-bottom:100px;
}
.heading-1 {
    font-size: 30px;
}
#renderHtmlFindRatinghelpSectiondata .slider-arrows{
    margin: 0 !important;
}
.reports-sec .heading-1{
    margin-bottom: 0;
}
.reports-sec.padding-100{
    padding-bottom: 50px;
}
hr.style-1{
    margin: 20px 0;
}

}

@media screen and (max-width: 413px){
    .searchBar.inights-searchBar {
        margin-top:35px;
        height:40px;
    
    }
    
    .inights-searchBar .search-input{
        padding: 19px 40px;
        margin-right: 5px;
        margin-bottom: 0;
    }
    
    .inights-searchBar a.btn.btn-primary.insights-find-rating{
        min-width:110px;
        padding: 0 5px;
    }

    .btn-col{
        width: 100%;
    }

    .inights-searchBar form{
        display: flex;
    }
    
    .updates-searchBarSec .mutli-img-boxes .col-md-4:nth-child(1){
        margin-top: 10px;
    }
}